/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 janv. 2017, 22:04:10
    Author     : Léa
*/
/*Réglages généraux*/
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: auto;
    text-align: center;
    color: #4c4643;
}

/*Réglages du header*/
header{
    margin-top: 0px;
    padding: 2px;
    padding-bottom: 4px;
}
h1{
    text-align: center;
    margin: 14px;
    color: rgb(64, 165, 181);
}
header>h2{
    text-align: center;
    font-size: 30px;
    margin: 14px;
}
#Menu{
    text-align: center;
    background-color: rgb(85, 85, 85);
    box-shadow: 1px 1px 2px black;
}

#Menu ul{
    margin: 2px;
}

#Menu li{
    margin: 6px;
    padding: 7px;
    border-radius: 20px;
    display: inline-block;
}
#Menu a:link{
    color: rgb(195, 195, 195);
    text-decoration: none;
}
#Menu li:hover{
    background-color: rgb(169, 169, 169);
}
#Menu a:hover{
    color: black;
}



div{
    padding-top: 40px;
}
/*R�glages de la partie Pr�sentation (texte et photo)*/
#Presentation{
    width:510px;
}

h2{
    font-size: 30px;
    margin: 0px;
}

.texte{
    width: 480px;
    text-align: justify;
}

/*Réglages du aside (à côté de Présentation)*/
aside{
    width: 320px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

aside>img{
    width: 115px;
    border: 3px solid rgb(64, 165, 181);
}
.avecimg img{
    width: 20px;
}

#Presentation, aside{
    display: inline-block;
    vertical-align: top;
}

/*Réglages Présentation2*/
table{
    width: 380px;
    display: inline-block;
    margin: 30px;
    margin-bottom: 0px;
    vertical-align: top;
    border-collapse: collapse;
}
caption{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #4c4643;
}
table th{
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    width: 195px;
}
table td{
    font-size: 15px;
    text-align: right;
    width: 185px;
    border-left: 2px solid rgb(200, 200, 200);
}


td, th{
    border-bottom: 2px solid rgb(200, 200, 200);
}

/*Réglages Etudes*/
#Etudes{
    margin-top: 100px;
}
#Etudes .etu1>p, #Etudes .etu2>p, #Etudes .etu3>p{
    width: 95px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin: 0px;
}

.etu11, .etu22, .etu33{
    width: 480px;
    padding: 10px;
    box-shadow: 3px 3px 4px rgb(64, 165, 181);
    border: 1px solid rgba(64, 165, 181, 0.5);
}
.etu1>p, .etu1 .etu11{
    display: inline-block;
    vertical-align: top;
}
.etu2>p, .etu2 .etu22{
    display: inline-block;
    vertical-align: top;
}
.etu3>p, .etu3 .etu33{
    display: inline-block;
    vertical-align: top;
}
.etu11, .etu22, .etu33{
    margin-left: 10px;
}
#Etudes h4{
    margin: 0px;
}
.etu1, .etu2, .etu3{
    margin-top: 35px;
}

/* Réglages partie Réalisations Personnelles*/
/*#Projet{
    margin-top: 100px;
}

.CV, .Cours{
    width: 510px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 20px;
    text-align: center;
}
.CV{
    margin-right: 72px;
}
.Cours{
    margin-left: 72px;
}

.CV p, .Cours p{
    width: 330px;
    font-size: 16px;
    text-align: justify;
    margin-left: 15px;
}
.CV h4, .Cours h4{
    font-size: 18px;
    background-color: rgba(64, 165, 181, 0.8);
    width: 150px;
    padding: 5px;
}
.CV p, .CV h4{
    display: inline-block;
    vertical-align: top;
}

#Projet a{
    width: 10px;
}
#Projet a:link{
    color: rgb(100, 100, 100);
    font-weight: bold;
    text-decoration: underline;
}
#Projet a:hover{
    color:rgb(180, 180, 180);
    text-decoration: underline;
}*/


/* Réglages partie Emploi*/
#Emploi{
    margin-top: 100px;
}
#Emploi .boulot>p{
    width: 95px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin: 0px;
}

.B1{
    width: 475px;
    padding: 10px;
    box-shadow: 3px 3px 4px rgb(64, 165, 181);
    border: 1px solid rgba(64, 165, 181, 0.8);
}
.boulot>p, .boulot .B1{
    display: inline-block;
    vertical-align: top;
}
.B1{
    margin-left: 10px;
}
#Emploi h4{
    margin: 0px;
}
.boulot{
    margin-top: 40px;
}

/* Réglages partie Intérêts Personnels*/
#Activites{
    margin-top: 100px;
}
#Activites img{
    width: 70px;
}

ul{
    list-style-type: none;
}

ul ul{
    display: none;
}
li:hover ul.menu2{
    display: block;
}
#Activites li{
    width: 300px;
}
.menusport, .menuautre{
    width: 380px;
}
.menusport{
    display: inline-block;
    vertical-align: top;
}
.menuautre{
    display: inline-block;
    vertical-align: top;
}


footer{
    text-align: center;
    background-color: rgb(64, 165, 181);
    padding-bottom: 4px;
    padding-top: 4px;
}

@media screen and (max-width: 650px){

    h1{
        font-size: 25px;
    }
    header>h2{
        font-size: 20px;
    }

    #Menu li{
        margin: 4px;
        padding: 5px;
    }
/*R�glages de la partie Pr�sentation (texte et photo)*/
    #Presentation{
        width:400px;
    }

    h2{
        font-size: 25px;
        margin: 0px;
    }

    .texte{
        width: 350px;
        font-size: 15px;
    }

/*Réglages du aside (à côté de Présentation)*/
    aside{
        width: 190px;
        font-size: 13px;
    }
/* Réglages partie Intérêts Personnels*/


#Activites li{
    width: 200px;
    font-size: 15px;
}
.menusport, .menuautre{
    width: 200px;
    padding: 0px;
}

}
@media screen and (max-width: 610px){
    #Menu li{
        margin: 2px;
        padding: 2px;
    }
}
@media screen and (max-width: 450px){
    /*Réglages Présentation2*/
    table{
        width: 300px;
        margin: 20px;
    }
    caption{
        font-size: 14px;
    }
    table th{
        font-size: 14px;
    }
    table td{
        font-size: 12px;
    }

    .etu11, .etu22, .etu33{
        width: 350px;
    }

    .B1{
        width: 350px;
    }
}

@media screen and (max-width: 350px){

    h1{
        font-size: 20px;
    }
    header>h2{
        font-size: 15px;
    }
    #Menu{
        text-align: left;
    }
    #Menu ul{
        margin: 2px;
    }

    #Menu li{
        display: block;
    }

/*R�glages de la partie Pr�sentation (texte et photo)*/
#Presentation{
    width:320px;
}

h2{
    font-size: 20px;
}

.texte{
    width: 320px;
}

/*Réglages Présentation2*/
table{
    width: 300px;
    margin: 25px;
}

/*Réglages Etudes*/

.etu11, .etu22, .etu33{
    width: 300px;
}

/* Réglages partie Emploi*/

.B1{
    width: 300px;
}

}